In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/harsnyi/Documents/NYC-Crash-Analysis/data/Motor_Vehicle_Collisions_-_Crashes_20241020.csv")

/var/folders/tw/j102_3791q18mc8161tjddq00000gn/T/ipykernel_25839/372255331.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/harsnyi/Documents/NYC-Crash-Analysis/data/Motor_Vehicle_Collisions_-_Crashes_20241020.csv")

In [3]:
df_sampled = df.sample(100)

In [4]:
df_sampled

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
452898,03/31/2019,14:15,NaN,NaN,NaN,NaN,NaN,NASSAU EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4106720,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
1831808,12/20/2012,19:00,BROOKLYN,11228,40.611405,-74.009512,"(40.6114054, -74.009512)",86 STREET,15 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,122612,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
438919,05/01/2019,11:45,QUEENS,11372.0,40.749280,-73.888840,"(40.74928, -73.88884)",NaN,NaN,77-07 37 AVENUE,...,Unspecified,NaN,NaN,NaN,4127994,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
483724,02/16/2019,16:30,NaN,NaN,NaN,NaN,NaN,CLEARVIEW EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4081723,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
878916,05/29/2017,19:00,NaN,NaN,NaN,NaN,NaN,MAIN STREET,HORACE HARDING EXPRESSWAY,NaN,...,Unspecified,NaN,NaN,NaN,3680356,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1336802,05/15/2015,17:50,QUEENS,11691.0,40.599502,-73.754068,"(40.599502, -73.7540678)",BROOKHAVEN AVENUE,BEACH 20 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3221312,PASSENGER VEHICLE,VAN,NaN,NaN,NaN
359641,09/01/2019,13:40,QUEENS,11429.0,40.715015,-73.741646,"(40.715015, -73.741646)",HEMPSTEAD AVENUE,217 STREET,NaN,...,Unspecified,Unspecified,NaN,NaN,4199041,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN
946999,01/29/2017,4:40,NaN,NaN,40.712410,-73.834680,"(40.71241, -73.83468)",JACKIE ROBINSON PKWY,NaN,NaN,...,Following Too Closely,Following Too Closely,Unspecified,NaN,3606642,Sedan,Station Wagon/Sport Utility Vehicle,Taxi,Sedan,NaN
1858918,10/20/2012,9:00,QUEENS,11362,40.767865,-73.738175,"(40.7678648, -73.7381752)",NORTHERN BOULEVARD,249 STREET,NaN,...,Unspecified,NaN,NaN,NaN,260239,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1590587,02/24/2014,9:35,MANHATTAN,10032,40.830892,-73.941367,"(40.8308918, -73.9413666)",SAINT NICHOLAS AVENUE,WEST 155 STREET,NaN,...,Unspecified,NaN,NaN,NaN,69967,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN

In [5]:
df_sampled.to_csv("/Users/harsnyi/Documents/NYC-Crash-Analysis/data/NYC_motor_vehicle_collisions_sampled.csv")